@model BigHitEntatinment.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "등록";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.LoginProvider 계정 연결</h3>

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <h4>@ViewBag.LoginProvider 로그인 계정을 사용하여 로그인합니다.</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <p class="text-info">
        사용자가 <strong>@ViewBag.LoginProvider</strong>(으)로 인증되었습니다.<br/>
        아래에 @ViewBag.LoginProvider 로그인 정보를 입력하고 [로그인] 버튼을 클릭하면 사용자 등록 및 로그인 완료됩니다.<br/>
        (관리자에 의해 [등록/로그인] 계정 연결기능이 제한되었습니다.)
    </p>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="로그인" disabled="disabled"/>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
