@model IEnumerable<BigHitEntatinment.Models.AlbumViewModel>

@{ 
    string[] borderColors = { "border-red", "border-green", "border-blue", "border-yellow" };
    string[] innerBorderColors = { "img-innerborder-red", "img-innerborder-green", "img-innerborder-blue", "img-innerborder-yellow" };
}

@*Bootstrap 4 반영(2019.03.04)*@

@if(Model.Count() == 0){ 
    @Html.Raw("<div class='row'>")
}

@for (int i = 0; i < Model.Count(); i++)
{
    var model = Model.ElementAt(i);

    var col = i % 4;
    if (col == 0) { 
        @Html.Raw("<div class='row'>") 
    }
        <div class="col-lg-3 order-sm-6 album-list">
            <ul>
                <li>
                    <div class="img-thumbnail-circle img-innerborder img-circle @innerBorderColors[col]"><img src="@Url.Content(model.ImageUrl)" /></div>
                    <div class="clearfix"></div>
                </li>

                <li class="list-main-title">
                    <div class="category-title">
                        <h4>@Url.Content(model.Title)</h4>
                        <hr class="@borderColors[col]" style="min-width: 100px;" />
                    </div>
                </li>

                <li class="list-sub-title">
                    @if (model.Subtitle != null)
                    {@Url.Content(model.Subtitle)}
                </li>

                <li class="list-item">
                    (발매일: @Url.Content(model.ReleasedDate.ToString("yyyy-MM-dd")))
                </li>

                <li class="list-description" style="max-width: 200px;">
                    @Url.Content(model.Description)&nbsp;
                    <div class="clearfix"></div>
                </li>
            </ul>
        </div>
    if(col == 3) { 
        @Html.Raw("</div><div class='clearfix'></div>")
    }
}
@if((Model.Count() - 1) % 4 < 3){
    @Html.Raw("</div><div class='clearfix'></div>")
}