@model IEnumerable<BigHitEntatinment.Models.AlbumViewModel>

<div name="listSection" id="listSection">
    @foreach (var item in Model)
    {
        <div class="row" style="border:1px solid gray; border-left:6px solid gray; border-radius:5px; padding:10px 0px; margin: 2px;">
            <div class="col-md-2" style="min-width:120px;"><img src="@Url.Content(item.ImageUrl)" class="img-thumbnail" /></div>
            <!--@*<div class="col-md-1">@Html.DisplayFor(modelItem => item.ReleasedDate)</div>*@-->
            <div class="col-md-2">@Html.DisplayFor(modelItem => item.Title)</div>
            <div class="clearfix visible-xs"></div>
            <div class="col-xs-0 col-md-6" style="overflow:hidden; white-space: nowrap; text-overflow:ellipsis;">@Html.DisplayFor(modelItem => item.Description)</div>
            <div class="col-md-offset-12 col-md-1" style="min-width:160px; padding-right:0px;">
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-default btn-xs" })
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-default btn-xs" })
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-default btn-xs" })
            </div>
        </div>
    }
</div>